<div>

    <section class="h-100" style="background-color: #eee;">
        <div class="container h-100 py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">Личный кабинет</h3>
            </div>
            <div class="card-body p-4">
                <div><HR>
                    <h3>Добавить продукт</h3>

                    <form novalidate ng-submit="saveProduct()">
                        <input class="form-control" type="text" placeholder="Название продукта" ng-model="save_product.title">
                        <p></p>
                        <input class="form-control" type="text" placeholder="Описание" ng-model="save_product.description">
                        <p></p>
                        <input class="form-control" type="text" placeholder="Организация" ng-model="save_product.organizationTitle">
                        <p></p>
                        <input class="form-control" type="number" placeholder="Цена" ng-model="save_product.price">
                        <p></p>
                        <input class="form-control" type="number" placeholder="Колличество" ng-model="save_product.quantity">
                        <p></p>
                        <button type="submit" class="btn btn-primary">Сохранить продукт</button>
                    </form>
                    <HR>
                    <h3>Добавить организацию</h3>

                    <form role="form" enctype="multipart/form-data" name="myForm">
                        <input type="text" class="form-control" placeholder="Название организации"
                               ng-model="add_new_org.title">
                        <p></p>
                        <input type="text" class="form-control" placeholder="Описание"
                               ng-model="add_new_org.description">
                        <p></p>
                        <div class="form-group col-md-6">
                            <input type="file" class="form-control" placeholder="Логотип" select-ng-files
                                   ng-model="file" multiple>
                        </div>
                        <p></p>
                        <button type="submit" class="btn btn-primary" ng-click="addNewOrg()">Сохранить организацию</button>
                    </form>
                    <HR>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="fw-normal mb-0 text-black">Ваша история покупок</h3>
                    </div>
                    <div class="card-body p-4">
                        <div>
                            <p></p>
                            <table class="table table-hover" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>ID</td>
                                    <td>Название продукта</td>
                                    <td>Организация</td>
                                    <td>Колличество</td>
                                    <td>Дата покупки</td>
                                </tr>
                                <tbody>
                                <tr ng-repeat="h in historyList">
                                    <td>{{h.id}}</td>
                                    <td>{{h.productTitle}}</td>
                                    <td>{{h.organization}}</td>
                                    <td>{{h.quantity}}</td>
                                    <td>{{h.datePurchase}}</td>
                                </tr>
                                </tbody>
                            </table>
<!--                            <nav aria-label="Page navigation" ng-show="isThereIndex()">-->
<!--                                <ul class="pagination">-->
<!--                                    <li class="page-item" ng-show="ProductPage.page != 0">-->
<!--                                        <button class="page-link" ng-click="previousPage(ProductPage.page, 0)"-->
<!--                                                aria-label="Previous">-->
<!--                                            <span aria-hidden="true">&laquo;</span>-->
<!--                                        </button>-->
<!--                                    </li>-->
<!--                                    <li class="page-item" ng-repeat="pageIndex in pagesList">-->
<!--                                        <button class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}-->
<!--                                        </button>-->
<!--                                    </li>-->
<!--                                    <li class="page-item" ng-show="ProductPage.page != (indexNumber - 1)">-->
<!--                                        <button class="page-link" ng-click="nextPage(ProductPage.page, 2)"-->
<!--                                                aria-label="Next">-->
<!--                                            <span aria-hidden="true">&raquo;</span>-->
<!--                                        </button>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </nav>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>